body {
    background-color:#f3e6e6;
    margin: 0;
    font-family: Arial;
    font-size: 15px;
}
button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial;
    cursor: pointer;
}
header {
    .title {
        font-size:45px;
        font-family: Times New Roman;
        text-align: center;
        padding-top: 5px;
        margin: 5px;
    }
    .main-nav {
        display: block;
        background-color:grey;
        padding: 0 5px;
    }
    .nav-tabs {
        list-style-type: none;
        margin:0;
        padding: 5px 5px;
        .nav-item {
            display: inline;;
            font-size: large;
            font-weight: bold;
            font-family: cursive;
            padding: 5px;
            a {
                color: white;
                padding: 0 15px;
            };
        }
        :hover {
            background-color:black;
        };
        .active {
            background-color: black;
        };
    }

    .nav-link {
        color: black;
        text-decoration: chartreuse;
    }
}
.center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .nav-tabs {
        list-style-type: none;
        .nav-item {
            display: inline;
            .nav-link {
                text-decoration: none;
            }
        }
    }
    form {
        display: flex;
        flex-flow: column;
        align-items: left;
        div {
            margin-top: 10px;
            display: flex;
            flex-flow: column wrap;
        }
    }
}
input {
    outline:none;
    border-radius: 5px;
    border: 2px solid skyblue;
    padding: 10px;
    font-size: 13px;
    :focus {
        border: 30px solid green;
    }
}

.signup {
    .form-title {
        color: blue;
        font-size: large;
    }
    .signup-form {
        font-size: 16px;
        max-width: 100%;
        width: 500px;
    }
    input {
        font-size: 14px;
        padding: 10px;
    }
    .actions {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        .signup-btn {
            font-size: 16px;
            margin: 5px;
            background-color: lightblue;
        }
    }
}

.login {
    .form-title {
        color: green;
        font-size: large;
    }
    .login-form {
        font-size: 16px;
        max-width: 100%;
        width: 500px;
    }
    input {
        font-size: 14px;
        padding: 10px;
    }
    .actions {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        .login-btn {
            font-size: 16px;
            margin: 5px;
            background-color: lightgreen;
        }
    }
}

.tasks-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-form {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .form-group {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px 50px;
    }
    .add-btn {
        font-size: 16px;
        background-color: lightgreen;
        cursor: pointer;
    }
}

.edit-form{
    max-width: 100%;
    width: 100%;
}

.list {
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
    font-size: 15px;
    padding: 0px;
    .list-element {
        display: grid;
        grid-template-columns: min-content auto auto;
        border-bottom: 1px solid green;
        padding: 5px 0;
        text-align: left;
        .default-btn {
            display: none;
        }
        #status {
            display: flex;
            justify-content: center;
            #status-check {
                width: 20px;
                height: 20px;
            }
        }
        #task-content {
            display: flex;
            flex-direction: column;
            padding-left: 5px;
            #title {
                border: none;
                height: 100%;
                width: 100%
            }
            div {
                margin: 5px;
            }
            #deadline {
                font-size: 12px;
                opacity: 0.7;
            }
        }
        #actions {
            margin-left: auto;
            display: inline-block;
        }
        button {
            margin: 0 5px;
        }
        .edit-btn {
            background-color: lightblue;
        }
        .update-btn {
            background-color: yellow;
        }
        .delete-btn {
            background-color: red;
        }
        .cancel-btn {
            background-color: lightblue;
        }
    }
    :hover {
        .default-btn {
            display: inline-block;
        }
    }
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 10px;
    .logout-btn {
        background-color: red;
    }
}

.tracker {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    .filter {
        margin: 10px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        .filter-form {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            .filter-btn {
                background-color: lightblue;
            }
        }
    }
}

.warning {
    color: red;
  }

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 0;
    background-color: black;
    color: white;
}