<div class="center">
    <nav>
        <ul class="nav nav-tabs" ng-init="page = 'dfdfdf'">
            <li class="nav-item"><a class="nav-link  active" href="/#!addtasks">
            Add Task</a></li>
            <li class="nav-item"><a class="nav-link" href="/#!viewtasks">View tasks</a></li>
        </ul>
    </nav>
        <form name="addform" role="form">
            <div class="form-group">
                <label for="task">Title: </label>
                <input type="text" name="task" class="text" id="task" placeholder="Enter task here.." ng-model="task.title" required>
            </div>
            <div class="form-group">
                <label for="last_date">Task Deadline: </label>
                <input type="date" class="form-control" id="last_date" value="{{curr_date}}" ng-bind="task.last_date" min="{{curr_date}}" required>
            </div>
            <div class="form-group">
                <button ng-disabled="addform.$invalid" class="add-btn" ng-click="addnewtask()">Add</button>
            </div>
        </form>
    </div>
</div>