<div class="tasks-div">
    <form class="add-form" name="addform" role="form">
        <div class="form-group">
            <label for="task">Title: </label>
            <input type="text" name="task" class="text" id="task" ng-maxlength="100" placeholder="Enter task here.." ng-model="task.title" required>
        </div>
        <div class="form-group">
            <label for="last_date">Task Deadline: </label>
            <input type="date" class="form-control" id="last_date" value="{{curr_date}}" ng-model="task.last_date" min="{{curr_date}}" required>
        </div>
        <div class="form-group">
            <button type="button" ng-disabled="!task.title" class="add-btn" ng-click="addnewtask()">Add</button>
        </div>
    </form>
    
    <form class="edit-form" name="editform" role="form">
        <div class="usertasks">
            <ul class="list">
                <li class="list-element" ng-repeat="task in tasks">
                    <div class="element-content" id="status">
                        <input type="checkbox" class="form-control" id="status-check" ng-change="setCompleted(task.id)"ng-if="task.id !== selected.id" ng-model="task.completed">
                    </div>
                    <div id="task-content" class="element-content">
                        <div>
                            <span ng-if="task.id !== selected.id">{{task.title}}</span>
                            <input type="text" name="task" class="text" id="title" ng-maxlength="100" ng-model="selected.title" ng-if="task.id === selected.id" required>    
                        </div>
                        <div id="deadline" ng-if="task.id !== selected.id">
                            <span>{{task.last_date | date}}</span>
                        </div>
                    </div>
                    <div id="actions" class="element-content">
                        <button type="button" class="edit-btn default-btn" ng-click="edit(task)" ng-disabled="{{task.last_date < curr_date}}" ng-if="task.id !== selected.id">Edit</button>
                        <button type="button" class="update-btn" ng-disabled="not_edit_mode || editform.$invalid" ng-click="update()" ng-if="task.id === selected.id">Update</button>
                        <button type="button" class="delete-btn default-btn" ng-click="delete(task)" ng-if="task.id !== selected.id">Delete</button>
                        <button type="button" class="cancel-btn" ng-disabled="not_edit_mode || editform.$invalid" ng-click="cancel()" ng-if="task.id === selected.id">Cancel</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
