<div class="center">
    <div class="filter">
        <form name="filterform"  role="form" style="display: flex; flex-direction: row; justify-content: space-between;">
            <input class="form-control" type="date" ng-model="filter_date" required>
            <button ng-click="applyfilter()" ng-disabled="filterform.$invalid || {{!!filter_date}}">Apply filter</button>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
        <div zingchart id="myChart" zc-values="data" zc-json="myJson">
        </div>
    </div>
</div>