<div class="center tracker">
    <div class="filter">
        <form name="filterform" class="filter-form" role="form">
            <input class="form-control" type="date" ng-model="filter_date" required>
            <button class="form-control filter-btn" ng-click="applyfilter()" ng-disabled="filterform.$invalid || {{!!filter_date}}">Apply filter</button>
    </div>
    <div class="chart">
        <div zingchart id="myChart" zc-values="data" zc-json="myJson" zc-width="1000">
        </div>
    </div>
</div>