<div class="center">
    <nav>
        <ul class="nav nav-tabs" ng-init="page = 'dfdfdf'">
            <li class="nav-item"><a class="nav-link" href="/#!addtasks">
            Add Task</a></li>
            <li class="nav-item"><a class="nav-link  active" href="/#!viewtasks">View tasks</a></li>
        </ul>
    </nav>
    <form name="editform" role="form">
        <table class="table usertasks" style="margin:10px; text-align: center;">
            <thead>
                <tr>
                    <th>Tasl id</th>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td>
                        <span>{{task.id}}</span>
                    </td>
                    <td>
                        <span ng-if="task.id !== selected.id">{{task.title}}</span>
                        <input type="text" name="task" class="text" id="title" ng-model="selected.title" ng-if="task.id === selected.id" required>
                    </td>
                    <td>
                        <span ng-if="task.id !== selected.id">{{task.last_date | date}}</span>
                        <input type="date" class="form-control" id="last_date" min="{{curr_date | date: 'yyyy-MM-dd'}}" ng-model="selected.last_date" ng-if="task.id === selected.id" required>
                    </td>
                    <td>
                        <span ng-if="task.id !== selected.id">{{task.completed ? 'Completed' : 'Incomplete'}}</span>
                        <input type="checkbox" class="form-control" id="status" {{selected.checked_or_not}} ng-model="selected.completed" ng-if="task.id === selected.id">
                    </td>
                    <td>
                        <button class="edit-btn" ng-click="edit(task)" ng-if="task.id !== selected.id">Edit</button>
                        <button class="update-btn" ng-disabled="not_edit_mode || editform.$invalid" ng-click="update()" ng-if="task.id === selected.id">Update</button>
                        <button class="delete-btn" ng-click="delete(task)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>